<!--динамически передавать класс из стилей-->
<a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
<a routerLink="form" routerLinkActive="active">FORM</a>

<!--<a routerLink="users" routerLinkActive="active">Users</a>-->
<!--<a routerLink="users" [queryParams]="{q:111}" routerLinkActive="active">Users with query</a>-->
<!--<a [routerLink]="['users', userId]" routerLinkActive="active">User {{userId}}</a>-->
<!--<a routerLink="author" routerLinkActive="active">Authorisation</a>-->
<br>
<!--<a [routerLink]="[{ outlets: {popup:'login'} }]">Show popup</a>-->
<!--<a [routerLink]="[{ outlets: {popup:'null'} }]">hide popup</a>-->


<router-outlet></router-outlet>

<!--<router-outlet name="popup"></router-outlet>-->

<p [class]="myClass">hello</p>
<hr><br>
<!--динамическая работа с стилями-->
<p [style.font-size.px] = "myWidth">hello</p>
<hr><br>
<!--клик-->
<p (click) ="changeColor('blue')" [style.color]="myColor">hello</p>
<hr><br>
<!--инпут изменить цвет текста выше на цвет ввода-->
<input type="text" (input)="changeColor($any($event.target).value)"
                    (keydown.enter)="changeColor('green') ">
                    <!--(keydown.constrol.shift.enter)="changeColor('green')-->

<br><br><hr>
<!--доступ к елементу по ссылке-->
<input type="text" #colorElem>
<br><br>
<button (click)="changeColor(colorElem.value)">change color</button>

<hr><br>

<!--@Input доступ к елементу через дикоратор-->
<app-user-card [user]="user"></app-user-card>

<hr><br>

<!--директивы ngIF-->
<button (click)="isShow=!isShow">toggle</button>
<p *ngIf="isShow"> hello amigo </p>
<button (click)="isShow=false">hide</button>

<hr><br>

<!--директивы ngFOR-->
<ul>
  <li *ngFor="let user of users">
    {{user.name}}
  </li>
</ul>


<ul>
  <li *ngFor="let user of users">
    <app-user-card [user]="user" (userSelectd) = "selectUser = users"></app-user-card>
  </li>
</ul>

<h1>{{selectUser?.name}}</h1>

<hr><br>

<!--ng content-->
<app-item appColory>

  <h1>Hello ng content</h1>
  <section>
    ng content
  </section>

</app-item>

<hr><br>

<!--дириктива appColory-->
<div appColory #colory = "colory">
  appColory дириктива
</div>
<br>
<br>
<button (click)="colory.setRandomColor()">change color</button>
<br>
<hr><br>

<!-- структурная дириктива delay-->
<!-- анимашка -->
<div *ngFor="let delay of [1,2,3,4,5]">
  <app-item *appDelay = "delay">
    appDelay структурная дириктива
  </app-item>
</div>


<br>
<hr><br>

<!--СЕРВИС добавление удаление юзера-->
<ul>
  <li *ngFor="let user of users">
    <app-user-card [user]="user" (userSelectd) = "selectUser = users"></app-user-card>
    <span (click)="removeUser(user.name)">x</span>
  </li>
</ul>


<!--добавление юзера в массив через инпут-->
<input type="text" #userNameElement>
<input type="text" #userSecondName>
<input type="text" #userAge>
<button (click)="addUser(userNameElement.value,userSecondName.value,userAge.value);
userNameElement.value =''; userSecondName.value ='';userAge.value='';">add</button>
<!--оставляем пустой импут после добавления текста в поле -->

<br><br><br>
<!--рекативные форм-->
<app-formtraffic [formControl]="trsfficControl"></app-formtraffic>
